
{%extends "planta/base.html"%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Producto</title>
</head>
<body>
    {%block contenedor%}
    <h3>Agregar Producto</h3>
    <form action="{%url 'planta:guardarProducto'%}" method="post">
        {%csrf_token%}
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="" placeholder="Ingrese " name="nombre">
        </div>
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Ficha Tecnica:</label>
            <textarea class="form-control" placeholder="Ingrese "  name="ficha_tecnica"> </textarea>
          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Costo:</label>
            <input type="number" class="form-control" id="" placeholder="Ingrese " name="costo">
          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Categoria:</label>
            <select class="form-select" name="categoria">
              <option value = "">Seleccione</option>
              {%for c in cat %}
                <option value = "{{c.id}}">{{c.nombre}}</option>

              {%endfor%}
            </select>
          </div>
          <div class="mb-3 mt-3">
            <label for="" class="form-label">Color:</label>
            <select class="form-select" name="color">
              <option value = "">Seleccione</option>
              <option value = "r">ROJO</option>
              <option value = "v">VERDE</option>
              <option value = "a">AZUL</option>


            </select>
          </div>
        
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
      {%endblock%}
      
</body>
</html>